# セットアップ

jupyterからPostgreSQLに接続するための設定が以下のセルです。

詳しい使い方は[JupySQLのDocument](https://jupysql.ploomber.io/en/latest/integrations/postgres-connect.html)を参照してください。

In [2]:
%load_ext sql
import os

pgconfig = {
    "host": "db",
    "port": "5432",
    "database": os.environ["POSTGRES_DB"],
    "user": os.environ["POSTGRES_USER"],
    "password": os.environ["POSTGRES_PASSWORD"],
}
dsl = "postgresql://{user}:{password}@{host}:{port}/{database}".format(**pgconfig)

os.environ["DATABASE_URL"] = dsl
%sql

マジックコマンド `%sql` の後ろにSQLを書くとSQLを実行できます。

In [5]:
%sql select schemaname, tablename, tableowner from pg_tables;

Running query in 'postgresql://postgres:***@db:5432/postgres'

86 rows affected.

+------------+-----------------------+------------+
| schemaname |       tablename       | tableowner |
+------------+-----------------------+------------+
| pg_catalog |      pg_statistic     |  postgres  |
| pg_catalog |        pg_type        |  postgres  |
| pg_catalog |    pg_foreign_table   |  postgres  |
| pg_catalog |       pg_authid       |  postgres  |
| pg_catalog | pg_statistic_ext_data |  postgres  |
|   public   |    access_log_wide    |  postgres  |
|   public   |     access_log_dyn    |  postgres  |
|   public   |     search_log_dyn    |  postgres  |
|   public   |     monthly_sales     |  postgres  |
|   public   |     yearly_orders     |  postgres  |
+------------+-----------------------+------------+

`%%sql` を使うと複数行のSQLを実行することができます。

In [5]:
%%sql
select 
    *
from access_log
where
    request_method = 'GET'
limit 10
;

Running query in 'postgresql://postgres:***@db:5432/postgres'

10 rows affected.

+---------------------+----------------+--------------+-------------+------------+-----------------------------------------------------+
|     request_time    | request_method | request_path | customer_id | search_hit |                       referer                       |
+---------------------+----------------+--------------+-------------+------------+-----------------------------------------------------+
| 2012-01-01 00:02:45 |      GET       |  /items/218  |    59856    |    None    |                       /search                       |
| 2012-01-01 00:01:43 |      GET       |      /       |    79868    |    None    | <a href=http://google.co.jp>http://google.co.jp</a> |
| 2012-01-01 00:05:00 |      GET       |      /       |    70345    |    None    |                         None                        |
| 2012-01-01 00:06:38 |      GET       |      /       |    95994    |    None    |                         None                        |
| 2012-01-01 00:12:30 |      GET       |  /items/201  |    86329    |    None    |                       /search                       |
| 2012-01-01 00:09:57 |      GET       |  /shops/24   |    71941    |    None    |                         None                        |
| 2012-01-01 00:11:35 |      GET       |      /       |    89238    |    None    | <a href=http://google.co.jp>http://google.co.jp</a> |
| 2012-01-01 00:16:34 |      GET       |      /       |    90937    |    None    | <a href=http://google.co.jp>http://google.co.jp</a> |
| 2012-01-01 00:18:20 |      GET       |  /items/194  |    50886    |    None    |                       /search                       |
| 2012-01-01 00:25:16 |      GET       |  /items/54   |    98827    |    None    |                       /search                       |
+---------------------+----------------+--------------+-------------+------------+-----------------------------------------------------+